.list:hover{
    -fx-background-color: #adbcde;
    -fx-background-radius: 20px;
}

.list-theme:hover{
    -fx-background-color: #AAD4FF;
    -fx-background-radius: 20px;
}

.button:hover{
    -fx-background-color:  #99CCFF;
}

.btn{
     -fx-border-radius: 20px;
     -fx-background-radius: 20px;
     -fx-font-size: 1.28em;
     -fx-font-weight: bold;
     -fx-font-style: italic;
     -fx-border-width: 2px;
 }

.btn-Pref-size{
    -fx-pref-width: 100px;
    -fx-pref-height: 43px;
}

.theme{
     -fx-background-color:  #D4EAFF;
}

.title-bar{
    -fx-background-color:   #6EB7FF;
}

.border{
    -fx-border-color:  #A1D0FF;
}

.background{
    -fx-background-image: url("\bookshelve.png");
    -fx-background-repeat: no-repeat;
}

.launch-background{
    -fx-background-image: url("\launch.png");
    -fx-background-repeat: no-repeat;
}

.background-size{
    -fx-background-size: 100% 100%;
}

.drawer-color{
    -fx-background-color: #C3E1FF;
}

.comboBox{
    -fx-border-width: 2px;
    -fx-font-size: 1.23em;
    -fx-border-radius: 20px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-background-radius: 20px;
    -fx-min-height: 42px;
}

.input:hover{
    -fx-background-color: #fff;
}

.white{
    -fx-background-color: #fff;
}

.colored-pane{
    -fx-background-color:  #99CCFF;
}

.error{
    -fx-border-color:  red;
}

.success-border{
    -fx-border-color:  green;
}